/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}
