* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --menu-margin: 40px 140px;
  --primary-bg-color: #202020;
}

body {
  background-color: var(--primary-bg-color);
}

.menu {
  width: 100%;
}

.custom-bg-dark {
  background-color: var(--primary-bg-color) !important;
}

.about-section h1,
.gallery-section h1,
.contact-section h1 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.1em;
  color: white;
  margin-bottom: 30px;
}

/* Start styling menu part */
.menu-logo {
  margin: var(--menu-margin);
}

.custom-menu-links {
  margin: var(--menu-margin);
}

.custom-menu-links a {
  color: white;
  margin-left: 30px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.5s ease-in-out;
}

.custom-menu-links a:hover {
  color: #f65282;
}

.customs-active {
  color: #f65282 !important;
}
/* End styling menu part */

/* Start styling header part */
.hero {
  background-image: url(../images/bg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.caption {
  text-align: center;
  margin: 190px 0;
}

.caption h2 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
}

.caption h1 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  color: white;
  margin: 25px 0px;
}

.caption p,
.about-section p {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.site-button {
  background-color: white;
  padding: 18px 40px;
  display: inline-block;
  margin: 48px 0;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #272142;
  border-radius: 50px;
  transition: 500ms linear;
}

.site-button:hover {
  color: #5c4e97;
}

@media (max-width: 576px) {
  .caption h2 {
    font-size: 18px;
  }
  .caption h1 {
    font-size: 40px;
  }
  .caption p {
    font-size: 14px;
  }
  .header-link {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .caption h2 {
    font-size: 30px;
  }
  .caption h1 {
    font-size: 60px;
  }
  .caption p {
    font-size: 16px;
  }
  .header-link {
    font-size: 14px;
  }
}
/* End styling header part */

/* Start styling content part */

.content-section {
  padding-top: 120px;
}

@media (max-width: 445px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding: 0;
  }
}

@media (min-width: 446px) and (max-width: 768px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding-left: 10px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding-left: 10px;
  }
}

@media (min-width: 993px) and (max-width: 1400px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    margin: 0;
  }
}

/* end styling content part */

/* Start styling about page */

.about {
  padding-top: 160px;
}

.about-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.about-section {
  padding: 0 80px;
}

.about-section h2 {
  color: #f65282;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  margin-top: 60px;
  margin-bottom: 30px;
}

.about-section i {
  background-color: var(--primary-bg-color);
  color: white;
  font-size: 16px;
  padding-right: 30px;
  margin: 15px 0;
}

.camera-type {
  background-color: #2d2727;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 30px;
}

.camera-type img {
  padding-right: 10px;
}

@media (max-width: 445px) {
  .about {
    padding-top: 0px;
  }
  .about-section {
    text-align: center;
    padding: 0 20px;
  }
  .about-section h1 {
    font-size: 48px;
  }
  .about-section p {
    font-size: 14px;
  }
  .camera-type {
    font-size: 12px;
  }
}

@media (min-width: 445px) and (max-width: 992px) {
  .about {
    padding-top: 0px;
  }
  .about-section {
    text-align: center;
    padding: 0 20px;
  }
  .about-section h1 {
    font-size: 60px;
  }
  .about-section p {
    font-size: 18px;
  }
  .camera-type {
    font-size: 16px;
  }
}

@media (min-width: 993px) and (max-width: 1121px) {
  .camera-type {
    font-size: 14px;
  }
}

/* End styling about page */

/* start styling gallery page */
.gallery-content {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .image-section div {
    margin-bottom: 30px;
  }

  .gallery-content {
    margin-top: 50px;
  }

  .gallery-section .row {
    margin-top: 0;
  }
}
/* End styling gallery page */

/* start styling contact page */

.contact-content {
  margin-top: 140px;
}

.contact-content h2 {
  color: #f65282;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  margin-top: 40px;
  margin-bottom: 10px;
}

.contact-content i {
  color: white;
  font-size: 14px;
  line-height: 30px;
  margin-right: 10px;
}

.contact-content p {
  display: inline;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
/* End styling contact page */

/* start styling footer */
.footer {
  min-height: 100px;
  background-color: #282323;
  margin-top: 100px;
}

.footer-image {
  display: block;
  padding: 40px 150px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer-social-icon i {
  background-color: var(--primary-bg-color);
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  background-color: #282323;
  margin-right: 20px;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-right span {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

@media (max-width: 445px) {
  .footer-right span {
    font-size: 11px;
  }
}

/* end styling footer */
