* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --menu-margin: 40px 140px;
  --primary-bg-color: #202020;
}

body {
  background-color: var(--primary-bg-color);
}

.menu {
  width: 100%;
}

.custom-bg-dark {
  background-color: var(--primary-bg-color) !important;
}

.menu-logo {
  margin: var(--menu-margin);
}

.custom-menu-links {
  margin: var(--menu-margin);
}

.custom-menu-links a {
  color: white;
  margin-left: 30px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

/* Start styling header part */
.hero {
  background-image: url(../images/bg.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.caption {
  text-align: center;
  margin: 190px 0;
}

.caption h2 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
}

.caption h1 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  color: white;
  margin: 25px 0px;
}

.caption p {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.header-link {
  background-color: white;
  padding: 18px 40px;
  display: inline-block;
  margin: 48px 0;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #272142;
  border-radius: 50px;
  transition: 500ms linear;
}

.header-link:hover {
  color: #5c4e97;
}

@media (max-width: 576px) {
  .caption h2 {
    font-size: 18px;
  }
  .caption h1 {
    font-size: 40px;
  }
  .caption p {
    font-size: 14px;
  }
  .header-link {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .caption h2 {
    font-size: 30px;
  }
  .caption h1 {
    font-size: 60px;
  }
  .caption p {
    font-size: 16px;
  }
  .header-link {
    font-size: 14px;
  }
}
/* End styling header part */

/* Start styling content part */


.content-section {
  padding-top: 120px;
}

@media (max-width: 445px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding: 0;
  }

}

@media (min-width: 446px) and (max-width: 768px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding-left: 10px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    padding-left: 10px;
  }

}

@media (min-width: 993px) and (max-width: 1400px) {
  .content-section {
    padding-top: 80px;
  }

  .image-section div {
    margin: 15px 0;
    margin: 0;
  }

}

/* end styling content part */
